label,
div,
.button {
  font-family: sans-serif, sans;
}

form {
  margin: 2em;
  background-color: var(--input-bg-color);
  padding: 1em;
  border-radius: 0.8em;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: '. label input .' '. label input .';
  row-gap: 1em;
  column-gap: 1em;
  align-items: center;
}

label.label {
  grid-column-start: 2;
  font-size: 120%;
  color: var(--main-text-color);
}

input.input {
  grid-column-start: 3;
  font-size: 160%;
  font-weight: bold;
  color: var(--emph-text-color);
  background-color: var(--emph-bg-color);
}

input.input:invalid {
  border: 2px solid var(--invalid-color);
  color: var(--invalid-color);
  box-shadow: 0 0 3px 3px var(--invalid-color);
}

div#error {
  color: var(--main-text-color);
  font-weight: normal;
}

p {
  font-size: 120%;
  color: var(--main-text-color);
}

div#input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div#result {
  font-size: 140%;
  margin: 2em;
  background-color: var(--output-bg-color);
  color: var(--emph-text-color);
  padding: 1em;
  border-radius: 0.8em;
  font-weight: bold;
  text-align: center;
}

div#grayout {
  position: fixed;
  display: block;
  background: var(--grayout-color);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

div#help {
  background-color: var(--help-bg-color);
  position: relative;
  border-radius: 0.8em;
  margin: 5vh 5vw;
  padding: 1em 2em;
  overflow: auto;
  max-height: 85vh;
}

.button {
  background-color: var(--button-bg-color);
  color: var(--emph-text-color);
  border: none;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 120%;
  cursor: pointer;
  box-shadow: 0.1em 0.1em var(--shadow-color);
  margin: 0.5em 0;
}

div#buildinfo {
  position: absolute;
  font-size: 70%;
  color: var(--debug-text-color);
  right: 1em;
  bottom: 0.5em;
}

i,
b {
  color: var(--emph-text-color);
}

a#project,
a#project:visited,
a#project:focus {
  color: var(--emph-text-color);
}
