label,
div,
.button {
  font-family: sans-serif, sans;
}

body {
  background-color: #fff;
}

form {
  margin: 2em;
  background: #ded;
  padding: 1em;
  border-radius: 0.8em;
  display: grid;
  grid-template-columns: 1fr auto auto 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". label input ." ". label input .";
  row-gap: 1em;
  column-gap: 1em;
  align-items: center;
}

label.label {
  grid-column-start: 2;
  font-size: 120%;
}

input.input {
  grid-column-start: 3;
  font-size: 160%;
}

p {
  font-size: 120%;
}

div#input {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div#result {
  font-size: 140%;
  margin: 2em;
  background: #eed;
  padding: 1em;
  border-radius: 0.8em;
  font-weight: bold;
  text-align: center;
}

div#grayout {
  position: fixed;
  display: block;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

div#help {
  background: #fff;
  position: relative;
  border-radius: 0.8em;
  margin: 2em;
  padding: 1em 2em;
}

.button {
  background-color: #edd;
  border: none;
  color: black;
  padding: 0.4em 1em;
  border-radius: 0.4em;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 120%;
  cursor: pointer;
  box-shadow: 0.1em 0.1em rgba(0, 0, 0, 0.2);
  margin: 0.5em 0;
}

div#buildinfo {
  position: absolute;
  font-size: 70%;
  color: #000;
  right: 1em;
  bottom: 0.5em;
}

a#project,
a#project:visited,
a#project:focus {
  color: #000;
}
