:root {
  --main-text-color: #657b83;
  --emph-text-color: #586e75;
  --debug-text-color: #222222;
  --main-bg-color: #fdf6e3;
  --emph-bg-color: #eee8d5;
  --input-bg-color: #cceecc;
  --output-bg-color: #eeeecc;
  --button-bg-color: #eeccee;
  --help-bg-color: #fdf6e3;
  --grayout-color: rgba(0, 0, 0, 0.4);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --invalid-color: #dc322f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: #839496;
    --emph-text-color: #93a1a1;
    --debug-text-color: #888888;
    --main-bg-color: #002b36;
    --emph-bg-color: #073642;
    --input-bg-color: #224422;
    --output-bg-color: #444422;
    --button-bg-color: #442244;
    --help-bg-color: #002b36;
    --grayout-color: rgba(0, 0, 0, 0.6);
    --shadow-color: rgba(0, 0, 0, 0.2);
    --invalid-color: #dc322f;
  }
}

body {
  background-color: var(--main-bg-color);
}
