:root {
  --main-text-color: #657b83;
  --emph-text-color: #586e75;
  --debug-text-color: #222222;
  --main-bg-color: #fdf6e3;
  --emph-bg-color: #eee8d5;
  --input-bg-color: #cceecc;
  --output-bg-color: #eeeecc;
  --button-bg-color: #eeccee;
  --help-bg-color: #fdf6e3;
  --grayout-color: rgba(0, 0, 0, 0.4);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--main-bg-color);
}
